body {
  background-color: #505050;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
  transition: all 1s ease-out;


  font-family: "Raleway", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
  font-weight: 100;
  font-style: normal;

  font-size: 18px;
  letter-spacing: 0.05em;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}


button {
  background-color: transparent;
  color: white;
  font-size: 26px;
  letter-spacing: 0.01rem;
  font-family: "Raleway";

  border-width: 0px;

  padding-block: 1px;
  padding-inline: 6px;

  transition: all 0.15s ease-out;
}


/* CLOCK */
.cf {
  position: relative;
  opacity: 40%;
}

.cf::before {
  background-color: transparent;
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  bottom: -2px;
  transform-origin: center bottom;
  transform: scale(0, 1);

  border-style: dashed;
  border-width: 1px;
  border-color: transparent;
  border-bottom-color: white;

  transition: all 0.15s ease-out;
}

.cf:hover::before {
  transform: scale(1, 1);
}


#openclose {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.3s ease-out;
}

#option-button {
  position: absolute;
  top: 50px;
}

#option-icon {
  opacity: 40%;
  transition: all 0.3s ease-out;
}

#clock-menu {
  pointer-events: none;
  margin-left: 40px;
  filter: opacity(0%);
  transition: all 0.2s ease-out;
}

#clock-menu button {
  display: inline-block;
}

#volume-option-div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  transition: all 0.3s ease-out;

}

#volume-bar {
  height: 30px;
  margin-top: 0px;
  width: 150px;
  color: white;

  filter: saturate(0%) contrast(70%);

  transition: all 0.1s ease-out;
}

#volume-bar-label {
  float: right;
  transition: all 0.1s ease-out;
}

.inv-checkbox {
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  height: 0px;
  width: 0px;
}

#announcement-interval-menu {
  flex-basis: 100%;
}


#time {
  text-align: center;
  font-size: 150px;
  letter-spacing: 0.05rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -135%);
  font-family: 'Raleway';
  transition: all 1s ease-out;
  filter: invert(0%);
}


#time-bar {
  width: 0px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: calc(50% + 90px);
  transform: translate(-50%, 0);
  transition: all 1s ease-out;
}

#time-bar2 {
  width: 408px;
  height: 1px;
  background-color: transparent;
  opacity: 20%;
  position: absolute;
  left: 50%;
  top: calc(50% + 90px);
  transform: translate(-50%, 0);

  border-left: 6px solid white;
  border-right: 6px solid white;
  transition: all 1s ease-out;
}


.colon {
  transition: all 0.8s ease-out;
}


#version {
  position: absolute;
  right: 15px;
  bottom: 0px;

  filter: opacity(25%);
}




/* MENU */
#menu {
  display: flex;
  position: absolute;
  top: -25px;
  padding-inline: 50px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-inline: -50px;
  opacity: 0%;
  filter: blur(5px);

  border: none;

  transition: all 0.2s ease-out;
}

#menu:hover {
  top: -3px;
  opacity: 100%;
  filter: blur(0px);
}

#menu:hover+#shortcuts {
  display: none;
}

#menu button {
  transition: opacity 0.15s ease-out;
}

.menu-icon {
  height: 26px;
  width: 26px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}



#focus-0 {
  color: white;
}

#url-0 {
  margin-top: 50px;
}

#url-1 {
  display: none;
  margin-top: 45px;
}

#url-2 {
  display: none;
  margin-top: 45px;
}

#url-3 {
  display: none;
  margin-top: 45px;
}

#url-4 {
  display: none;
  margin-top: 45px;
}

.focusb {
  margin-left: 7px;
  opacity: 20%;
}

.listDiv {
  margin-top: 30px;
}


/* LOAD BUTTON */
.lp {
  color: white;
  background-color: gray;
  text-align: center;
  position: absolute;

  transition: all 0.25s ease-out;
}

.lp:hover {
  background-color: transparent;
}

.ulp {
  display: none;
  opacity: 30%;

  position: absolute;
  left: 520px;
  top: 260px;

  transition: all 0.25s ease-out;
}

.reload {
  height: 26px;
  width: 26px;
}


/* PLAYLIST FRAME */
.frame {
  margin-top: 15px;
  width: 483;
  height: 271.5;

  filter: contrast(0%) saturate(0%);
  position: relative;
  z-index: 100;
  transition: all 0.3s ease-out;
}

.frame:hover {
  filter: contrast(80%) saturate(0%);
}

.visible-frame {
  filter: contrast(80%) saturate(0%) blur(3px);
  overflow: hidden;
}

.visible-frame:hover {
  filter: contrast(80%) saturate(80%);
}

.frame-cover {
  position: absolute;

  z-index: 1000;
}

.frame-cover.prf {
  width: 365px;
  height: 41px;

  left: 40px;
  top: 71px;
}

.frame-cover.logo {
  width: 67px;
  height: 37px;

  left: 434px;
  top: 295px;
}

.frame-cover:hover~.frame {
  filter: contrast(80%) saturate(0%);
}

.frame-cover:hover~.visible-frame {
  filter: contrast(80%) saturate(80%);
}

.frame-icon {
  position: absolute;
  top: 182.75px;
  left: 270.5px;
  transform: translate(-50%, 0);
  z-index: 101;
  pointer-events: none;


  height: 26px;
  width: 26px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  opacity: 30%;

  user-select: none;
  transition: opacity 0.15s ease-out;
}

.frame:hover+.frame-icon {
  opacity: 0%;
}

.frame-cover:hover~.frame-icon {
  opacity: 0%;
}

.visible-frame+.frame-icon {
  opacity: 0%;
}



/*---------- FRAME OPTIONS ----------*/
#playlist-global {
  visibility: hidden;
}

#frame-options {
  position: absolute;
  display: flex;
  left: 520px;
  top: 300px;
  height: 26px;
  width: 100px;
}

#visible-player:checked~#visible-player-label #visible,
#cookie-mode:checked~#cookie-mode-label #cookie-img {
  opacity: 100%;
}

#visible, #cookie-img {
  height: 26px;
  width: 26px;
  opacity: 30%;
  transition: all 0.15s ease-in-out;
}


/*---------- STATUS ----------*/


#menu.menu-shown {
  top: -3px;
  opacity: 100%;
  filter: blur(0px);
}

#menu.menu-shown-extended {
  top: -3px;
  opacity: 100%;
  filter: blur(0px);
}


.none {
  display: none;
}

@keyframes menuflash {
  0% {}

  20% {
    top: -3px;
    opacity: 100%;
    filter: blur(0px);
  }

  80% {
    top: -3px;
    opacity: 100%;
    filter: blur(0px);
  }

  100% {}
}



@media screen and (max-width: 768px) {
  #shortcuts {
    display: flex-block;
    flex-wrap: wrap;
  }

  #time,
  #input-field input {
    font-size: 100px;
  }

  #input-field input {
    width: 120px;
    overflow: hidden;
  }

  #input-field .input-colon {
    font-size: 100px;
    transform: translateY(31px);
  }

  #timer-menu {
    transform: translate(-50%, -36px);
  }

  #time-bar,
  #time-bar2 {
    transform: translate(-50%, -30px);
  }
}


@media screen and (hover: none) and (pointer: coarse) {
  /*タッチ操作のとき*/

  #menu {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-inline: 50px;
    padding-top: 15px;

    opacity: 100%;
    filter: blur(0px);
  }

  #menu:hover {
    top: 0px;
  }

  #menu button {
    padding: 0px 8px 0px 8px
  }
}