body {
  background-color: rgb(170, 170, 170);
  color: #ffffff;
  margin-left: 30px;

  font-family: 'Zen Maru Gothic';
}
hr {
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  height: 1px;
  width: 25px;
  background-color: #ffffff;
}
li {
  list-style: decimal-leading-zero;
  padding-left: 10px;

  font-family: 'Zen Maru Gothic';
  letter-spacing: 0.1rem;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.05rem;
  font-family: 'Zen Maru Gothic';
  transition: all 0.25s ease-out;
}
.emoji {
  filter: saturate(0%) brightness(1000%) contrast(1000%) opacity(100%);
}
li a:hover {
  padding-left: 5px;
}
.name {
  font-size: 18px;
  color: #ffffffa3;
}

.frame {
  filter:contrast(0%) saturate(0%);
  transition: all 0.3s ease-out;
}
.frame:hover {
  filter:contrast(80%) saturate(0%);
}

.list {
  margin-top: 100px;
}

button {
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  margin-left: 3px;

  color: rgba(255, 255, 255, 0.2);
  font-size: 26px;
  letter-spacing: 0.05rem;
  font-family: 'Zen Maru Gothic';

  transition: all 0.25s ease-out;
}
.menu {
  position: absolute;
  display: flex;
  padding-right: 100px;
  top: 40px;
  filter: saturate(0%) brightness(100000%) contrast(100%) opacity(10%);
  transition: all 0.25s ease-out;
}
.menu:hover {
  filter: saturate(0%) brightness(100000%) contrast(100%) opacity(100%);
}
.focus-0 {
  color: white;
}


.url-1 {
  display: none;
}
.url-2 {
  display: none;
}
.url-3 {
  display: none;
}




.option {
  display: flex;
  margin-left: 5px;
  position: absolute;
  right: 60px;
  top: 40px;

  filter: opacity(0%);
  transition: all 0.2s ease-out;
}
.option:hover {
  filter: opacity(100%);
}
.cf {
  font-size: 22px;
}
.mute {
  color: white;
}




.time {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 30px;
  font-family: 'Raleway';
}

.time-bar {
  width: 0px; /* 初期状態は0 */
  height: 1px; /* バーの高さ */
  background-color: rgba(255, 255, 255, 0.5); /* 見やすくするための色 */
  position: absolute;
  left: 50.75%;
  transform: translateX(-50%);
  transition: width 1s ease-out; /* 滑らかに変化 */
}


.switch a {
  font-size:40px;
  position: absolute;
  top: 30px;
  left: 50.75%;
  transform: translateX(-50%);
  color: #ffffff00;
  transition: all 0.25s ease-out;
}


.lp {
  color: white;
  background-color: gray;
  text-align: center;
  width: 966px;
  height: 543px;
  transition: all 0.25s ease-out;
}
.lp:hover {
  background-color: transparent;
}





@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('./fonts/ZenMaruGothic-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}