.timer-align-right {
  text-align: right;
}


.timer-shortcuts button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.2);
  font-size: 24px;
  letter-spacing: 0.01rem;

  border-width: 1px;
  border-spacing: 5px;
  border-color: transparent;
  border-style:dotted;

  transition: all 0.3s ease-out;
}
.timer-shortcuts:hover button {
  color: white;
}
.timer-shortcuts button:hover {
  border-bottom-color: white;
}

.timer-shortcuts {
  transition: all 0.3s ease-out;
  display: flex;
  overflow: scroll;
}

.timer-volume-bar-div {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#volume-bar {
  height: 30px;
  margin-top: 0px;

  filter: saturate(0%) contrast(30%) invert(100%) brightness(200%);
}
#volume-bar-label {
  float:right;
}



.timer-menu {
  position: absolute;
  left: 50%;
  top: calc(50% + 110px);
  transform: translateX(-50%);
}
.timer-menu button {
  color: white;
}
#pause {
  display: none;
  font-size: 30px;
}
#resume {
  display: none;
  font-size: 30px;
}
#reset {
  display: none;
  font-size: 30px;
  color: white;
  transition: all 0.3s ease-out;
}
#reset:hover {
  color:rgb(255, 157, 157);
}

label {
  color: #ffffffa3;
}


.timer-clock {
  color: transparent;
  text-align: center;
  font-size: 150px;
  letter-spacing: 0.05rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -135%);
  font-family: 'Raleway';
  transition: all 0.5s ease-out;
}

.timer-bar {
  width: 0px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 50%;
  top: calc(50% + 90px);
  transform: translateX(-50%);
  transition: all 1s ease-out;
}

.colon {
  transition: all 0.8s ease-out;
}